{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <nav class="navbar">
            <div class="container">
                <a href="#" class="logo">MySite</a>
                <ul class="nav-links">
                    <li><a href="#cart"><img src="{% static 'cart.png' %}"></a></li>
                </ul>
            </div>
        </nav>
    </head>
    <body>
        <h1>Find the perfect product every time!</h1>
        <input id="text" placeholder="Type a message"></input>
    </body>
</html>