html {
    background: #F0F0F0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #404040;
    margin: 0;
    padding: 0;
}

h1 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30vh;
    width: 1000px;
    font-size: 60px;
}

input {
    border-radius: 20px;
    padding: 10px;
    background: #FFFFFF;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    border: 1px solid #C0C0C0;
}

input:focus {
    background: #F0F0F0;
    outline: none;
}

input:hover {
    background: #f8f8f8;

}

.navbar {
    background: #E0E0E0;
    height: 100px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.navbar .container {
    padding: 0;
}

.nav-links li::marker {
    color: #E0E0E0;
}